# Node.js dependencies
node_modules/
package-lock.json

# Build files
dist/
build/

# OS system files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE file
.vscode/
.idea/
*.swp

# ESLint and cache
.eslintcache

# Vite-specific file jgv
.vite/

